body {
  width: 1250px;
  height: 1500px;
}
header {
  margin: 0;
  width: 1250px;
  height: 580px;
  background: url(./img/header_background.png);
}
ul {
  list-style-type: none;
}
ul.nav {
  margin: 0;
  height: 89px;
  background: url(./img/Prechu_logo.png) 141px 24px / 179px 44px no-repeat;
  background-color: #ffffff;
}
.nav li {
  margin: 0;
  display: inline;
  position: relative;
  left: 641px;
  top: 37px;
  margin-bottom: 30px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  margin-left: 30px;
}
nav a {
  font-size: 19.35px;
  letter-spacing: 0.8px;
  color: #6c6c6c;
  text-decoration: none;
}
nav a:hover {
  font-size: 19.35px;
  color: #6c6c6c;
  padding-bottom: 22px;
  border-bottom: 3px solid #5094f2;
}
.singup {
  width: 1250px;
  height: 490px;
  background: url(./img/iphone.png) 177px 40px no-repeat;
}
ul.info {
  margin: 0;
  width: 392px;
  position: absolute;
  left: 630px;
  top: 235px;
}
.box1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 36.35px;
  color: #ffffff;
  margin-bottom: 29px;
}
.box2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 23.35px;
  color: #ffffff;
  margin-bottom: 29px;
}
.login {
  margin: 0;
  border: 0;
  width: 172px;
  height: 41px;
  position: absolute;
  left: 680px;
  top: 445px;
  background: url(./img/sing_up_botton.png) 100% no-repeat;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-left: 35px;
}
.box3 {
  position: absolute;
  top: 636px;
  left: 177px;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: url(./img/pen.png) 50% 50% no-repeat #5094f2;
}
.box4 {
  position: absolute;
  top: 636px;
  left: 544px;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: url(./img/monitor.png) 50% 50% no-repeat #d94748;
}
.box5 {
  position: absolute;
  top: 636px;
  left: 890px;
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: url(./img/something_strange.png) 50% 50% no-repeat #ebbb11;
}
.text_cpopular {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}
.text_cpopular a {
  font-size: 20.35px;
  color: #5094f2;
  margin: 0;
  text-decoration: none;
}
.text_box3 {
  position: absolute;
  top: 850px;
  left: 143px;
  width: 230px;
  height: 59px;
  font-size: 13px;
  text-align: center;
  color: #909090;
}
.text_box4 {
  position: absolute;
  top: 850px;
  left: 525px;
  width: 230px;
  height: 59px;
  font-size: 13px;
  text-align: center;
  color: #909090;
}
.text_box5 {
  position: absolute;
  top: 850px;
  left: 865px;
  width: 230px;
  height: 59px;
  font-size: 13px;
  text-align: center;
  color: #909090;
}
.link_to_cart {
  position: absolute;
  top: 988px;
  left: 159px;
  width: 371px;
  height: 366px;
  background: url(./img/cart.png) 100% 100% no-repeat;
  font-family: 'Noto Sans', sans-serif;
  font-size: 42.35px;
  text-decoration: none;
  color: #6f7173;
}
section h2 {
  position: absolute;
  top: 1040px;
  left: 609px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 26.35px;
  color: #6f7173;
  font-weight: normal;
}
.s_text {
  padding: 0;
  position: absolute;
  top: 1100px;
  left: 609px;
  width: 600px;
  height: 230px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15.35px;
  color: #6f7173;
  line-height: 36px;
}
footer {
  position: relative;
  width: 100%;
  height: 93px;
  top: 830px;
  border-top: 1px solid #e5e5e5;
}
.cr {
  margin: 0;
  position: absolute;
  top: 34px;
  left: 463px;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15.35px;
  color: #6f7173;
}
